<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
{% load static %}
<title>Clínica San Martín</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="Green Zone 2.0 | Template by MLP Design" />
<meta name="author" content="MLP Design, webmasterneo" />
<link rel="stylesheet" href='{% static "new.css" %}' type="text/css" />
</head>
<body>
<div id="pseudo-wrap1"></div>
<div id="pseudo-wrap2"></div>
<!-- Begin Wrapper -->
<div id="wrap">
	<!--Begin Header -->
	<div id="header">
		<h1>Clínica San Martín</h1>
		<p>Sistema de ingreso de datos para profesionales de la Clínica San Martín y buscador de pacientes</p>
	</div>
	<!--End Header -->
<nav>
<label for="show-menu" class="responsive">&#9776; Menu</label>
<input type="checkbox" id="show-menu" role="button">
		<ul id="menu">
			<li><a href={% url 'home' %} title="Inicio">Inicio</a></li>
			<li><a href={% url 'formulario_paciente' %} title="Paciente">Paciente</a></li>
			<li><a href={% url 'formulario_especialista' %} title="Especialista">Especialista</a></li>
			<li><a href={% url 'tratamiento' %} title="Tratamiento">Tratamiento</a></li>
			<li><a href={% url 'busqueda_paciente' %} title="Busqueda de pacientes">Busqueda de pacientes</a></li>
		</ul>
</nav>
	<!-- Begin Content -->
	{% block bloque_cuerpo %}
	<div id="content">
		<div class="post">
		<h2>¡Bienvenido!</h2>
		<p>Sea bienvenido a la página inicial de la Clínica San Martín, aquí podrá ingresarse los datos tanto del 
			paciente para tener registrado, de profesional que trabaja dentro de la clínica como también el registro
			de inicios de tratamientos. A su vez, podrá buscarse a los pacientes en la sección "Buscador de pacientes",
			en caso de que sus datos sean necesarios. 
			¡Gracias por siempre contar con nosotros!
		</p>
		</div>
		<div class="post">
		</ul>
		</div>
	</div>

	
	{% endblock bloque_cuerpo %}

	<!--End Content -->
	<!--Begin Footer -->
	<div id="footer">
	<div class="notice">&copy; Copyright <a title="Your Name and Link" href="#">Clínica San Martín</a>. All rights reserved.</div>
	</div>
	<!--End Footer -->
</div>
<!-- End Wrapper -->
<!-- Begin Creative Commons Attribution -->
<!-- Under the CC-NC License, you need to leave this untouched and intact. It's unobtrusive anyway. -->
<div id="attribution">
	<span>A <a title="Open Source" href="http://www.mlpdesign.net/free-css-templates.php">Free CSS Template</a> by <a title="XHTML &amp; CSS by MLP Design" href="http://www.mlpdesign.net">MLP Design</a><br />
	<a title="Licensed under Creative Commons Non-Commercial" href="http://creativecommons.org/licenses/by-nc/3.0/">Licensed under CC-NC 3.0</a></span>
</div>
<!--End Creative Commons Attribution-->
</body>
</html>